[submodule "bundle/setcolors"]
	path = bundle/setcolors
	url = https://github.com/felixhummel/setcolors.vim.git
[submodule "bundle/syntax"]
	path = bundle/syntax
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
